label {
	display: block;
	border-bottom: #c1c1c1 solid 1px;
	padding: 0.3em;
	line-height: 20px;
	text-shadow: 0 1px 1px #fefffe;
	font-size: 1.25rem;
	color: #333;
}
label:last-of-type {
	border-bottom-width: 0;
}
input {
	display: block;
	border: #c1c1c1 solid 1px;
	padding: 0.3em;
	min-width: 260px;
}
button {
	margin: 0.5em;
	font-size: 1.25rem;
}

#warning {
	padding: 1.5rem;
	background: #fe6222;
	color: #fdfdfd;
	font-size: 1.1em;
}

@media screen and (min-width: 640px) {
	label {
		display: flex;
		align-items: center;
	}
	label :first-child {
		flex: 1;
		min-width: 15em;
		max-width: 30em;
		padding-right: 2em;
	}
	label :last-child {
		flex: 2;
	}
}
